body {
	font-family: 'Fira Sans';
	font-size: 2em;
	font-weight: 500;
	line-height: 2;
	color: slategrey;
	background: lavender;
}
.container {
	display: flex;
	flex-direction: column;
	width: 10em;
	margin-top: 5em; 
}
header,
footer {
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em; 
	color: plum;
}
div {
	margin: auto;
}